# Superpower outputs
docs/superpowers/
.superpowers/

# Xcode
*.xcworkspace
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo